# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs.VC.VC.opendb
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs.VC.db
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs.sln
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Exam_sys_vs.vcxproj.filters
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Exam_sys_vs.vcxproj
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Exam_sys_vs.aps
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/vc140.pdb
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/vc140.idb
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/Exam_sys_vs.tlog/link.write.1.tlog
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/Exam_sys_vs.tlog/link.read.1.tlog
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/Exam_sys_vs.tlog/link.command.1.tlog
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/Exam_sys_vs.tlog/Exam_sys_vs.lastbuildstate
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/Exam_sys_vs.tlog/CL.write.1.tlog
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/Exam_sys_vs.tlog/CL.read.1.tlog
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/Exam_sys_vs.tlog/CL.command.1.tlog
/Exam_registration_sys/Exam_sys_vs/Exam_sys_vs/Debug/Exam_sys_vs.log
/Exam_registration_sys/Exam_sys_vs/Debug/Exam_sys_vs.pdb
/Exam_registration_sys/Exam_sys_vs/Debug/Exam_sys_vs.ilk
/Exam_registration_sys/Exam_sys_vs/.vs/Exam_sys_vs/v14/.suo
/.gitattributes
